

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    
}
body{
    /* background: #1488CC;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2B32B2, #1488CC); */ 
    background: rgb(19, 20, 58);
    overflow-x: hidden;
    width: 100vw;
    transition: background 1s;
}
/* NAV BAR STYLES */

.navbar{
    color: white;
    position: absolute;
    /* top: 0; */
    width: 100vw;
    height: 65px;
    background:  transparent;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    transition: background 1.2s;
    min-width: 360px;
    z-index: 99;
}
.title{
    padding-left: 25px;
    width: 350px;
    font-weight: bold;
    
}
.hover{
    font-weight: 900;
}


.nav-list{
    margin-left: auto;
    width: 100%;
    text-align: right;
    margin-right: 10px;
    
    
}

.nav-list li{
    display: inline-block;
    list-style-type: none;
    margin-right: 25px;
    padding-top: 7px;
}


.hover:hover{
    color: #ff0066 !important;
    cursor: pointer;
    font-weight: bold;
}
.contact-btn{
    background: #ff0066;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin-top: -5px;
    font-size: 1rem;
}

.last{
    position: relative;
    
}

a{
    text-decoration: none;
    color: white;
    
}
/*Landing Page */
.landing-page{
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 2vw;
    text-align: center;
}
.secondary-txt{
    margin-top: 25px;
    text-align: right;
}

/*ABOUT */
.about-page{
    height: 100vh;
    background: url('../../images/cpr.jpeg') center center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid #0f0c29;  
    display: flex;
    flex-direction: row;
    max-width:100vw;
    overflow-x: hidden;
}
.about-info{
    position: absolute;
    z-index: 1;
    height: 100%;
    border-bottom: 2px solid #0f0c29;
    width: 65%;
    background: rgba(0,0,0,.70);
    /* background: #1488CC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2B32B2, #1488CC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-size: 300%; */
    border-right: 5px solid #66ccff;
    display: flex;
    color: white;
    line-height: 1.6;
    flex-direction: column;
    justify-content: center;
    padding: 75px 100px;
}
.about-info h2{
    margin-bottom: 75px;
}
.about-btn{
    color: white;
    background: #ff0066;
    width: 150px;
    height: 70px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto 0 auto;
    cursor: pointer;
}

/* WebSites */
.web-page{
    border-top: 2px solid #0f0c29;
    height: 100vh;
    background: url('../../images/coding.jpeg') center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: hidden;
}
.web-info{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 65%;
    background: rgba(0,0,0,.70);
  /* background: #1488CC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2B32B2, #1488CC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left: 5px solid pink;
    /* background-size: 300%; */
    display: flex;
    color: white;
    line-height: 1.6;
    flex-direction: column;
    justify-content: center;
    padding: 75px 100px;
    border-bottom: 2px solid #0f0c29;
}
.web-info h2{
    margin-bottom: 75px;
}

.consulting-page{
    height: 100vh;
    width: 100vw;
    background: url('../../images/itteam.jpg') center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row-reverse;
    border-top: 2px solid #0f0c29;
    
}
.centered-text{
    text-align: center;
    
}
.consulting-info h2{
    margin-bottom: 25px;
}
.consulting-info{
    position: relative;
    z-index: 1;
    height: 42%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.70);
    /* background: #1488CC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2B32B2, #1488CC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 5px solid #ffff66;
    display: flex;
    color: white;
    line-height: 1.6;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    padding: 75px 100px;
}
.contact-us{
    height: 840px;
    /* padding: 50px 0; */
    background: url('../../images/bg-01.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card-header{
    width: 100%;
    text-align: center;
    margin: auto;
    height: 125px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: url('../../images/bg-02.jpg') center center;
}
.overlay-header{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 125px;
    background: rgba(0,0,0,.75)
}
.contact-card-header h1{
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.overlay{
    position: absolute;

    z-index: 1;
    width: 105%;
    height: 100%;
    background: rgba(0,0,0,.75)
}
.overlay-contact{
    position: absolute;
    z-index: 1;
    width: 105%;
    height: 840px;
    background:  rgba(19, 0, 65, .25);
}
.modal{
    position: relative;
    z-index: 2;
    width: 50vw;
    height: 720px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 28px rgba(0,0,0,.25);
    text-align: center;
    
}
.contact-body{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: auto;
    justify-content: center;
    width: 100%;
    padding: 25px 50px;
}
input{
    width: 80%;
    height: 55px;
    border: 1px solid lightgrey;
    padding: 0 45px;
    border-radius: 5px;
    margin-bottom: 25px;
   

}
textarea{
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 45px;
}
#submit-btn{
    border-radius: 5px;
    background: #ff0066;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}
#submit-btn:hover{
    background: #ff0199;
}


@media only screen and (max-width:620px){
    .title{
        display: none;
    }
    .navbar{
        font-size: .8rem;
        
    }
    .nav-list{
    text-align: center;
    margin-right: 5px;
    }
    .landing-page{
        font-size: .9rem;
    }
    .secondary-txt{
    text-align: center;
    }
    .last{
        right: 0px;
    }
    .modal{
        width: 90vw;
    }
    input{
        width: 98%;
    }
    textarea{
        width: 98%;
    }
    .web-info{
        left: 0;
    }

}

@media only screen and (max-width: 960px){
    .web-info{
        width: 102%;
        height: 60%;
        border: none;
        align-self: flex-end;
        padding: 0 25px;
        text-align: center;
    }
    .about-info{
        width: 100%;
        height: 60%;
        border: none;
        align-self: flex-end;
        padding: 0 25px;
        text-align: center;
    }
    .consulting-info{
        border: none;
        padding: 0 25px;
        text-align: center;
    }
    .modal{
        width: 80vw;
    }
}